html {
  scroll-behavior: smooth;
}

header {
	height: 100vh;
	background-image: url('../../public/images/hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.jumbotron {
	background: rgba(204, 204, 204, 0.5);
}