html {
  scroll-behavior: smooth;
}

header {
	height: 100vh;
	background-image: url('../../public/images/hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.jumbotron {
	background: rgba(204, 204, 204, 0.5);
}

.map-responsive {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;>
	height:0;
	margin: 16px;
}

.map-responsive iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}