html {
  scroll-behavior: smooth;
}

header {
	height: 100vh;
	background-image: url('../../public/images/hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.jumbotron {
	background: rgba(204, 204, 204, 0.5);
}

.container { 
    padding-top: 64px;
    padding-bottom: 64px;
}

.map-responsive {
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;>
	height:0;
	margin: 16px;
}

.map-responsive iframe {
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

a:hover.nav-link, a:hover.navbar-brand {
	transition-property: transform;
	transition-duration: 0.2s;
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

.project:hover img {
	background-size: cover;
	object-fit: cover;
	opacity: 0.7;
	transition-duration: 0.2s ease;
/*	-webkit-transform:scale(1.15);
	-moz-transform:scale(1.15);
	-ms-transform:scale(1.15);
	-o-transform:scale(1.15);
	transform:scale(1.15);*/
}

.project:hover {
	transition: transform .2s ease;
	transform: scale(1.05);
}
